#size{
    background-color: cornflowerblue;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Tilt Prism', cursive;
    color: ghostwhite;

}

